Repository windup/windup_integration_test, pull requests merged in 2021-03, with the labels that each got.

#66 [RFR] Implementation of operator context
  mta/base/application/__init__.py
  mta/conf/env.yaml
  mta/entities/__init__.py
  mta/entities/projects.py
  mta/fixtures/project_fixture.py
  mta/scripting/config.py
  mta/tests/test_login.py
  mta/tests/test_projects.py
Labels: enhancement, framework

#70 Added test case to automate application list sorting
  mta/entities/report.py
  mta/tests/test_report.py
  mta/widgetastic/__init__.py
Labels: new-automation

#73 RFR: Automating Global Custom Rules and Labels configuration test cases
  entry_points.txt
  mta/entities/__init__.py
  mta/entities/analysis_results.py
  mta/entities/report.py
  mta/entities/rules_configuration.py
  mta/tests/test_global_rules.py
  mta/widgetastic/__init__.py
Labels: enhancement, new-automation, new_test

#76 RFR: Automated global labels configuration test cases
  entry_points.txt
  mta/entities/analysis_results.py
  mta/entities/global_configuration.py
  mta/entities/rules_configuration.py
  mta/tests/test_global_labels.py
  mta/tests/test_global_rules.py
  mta/widgetastic/__init__.py
Labels: enhancement, fix_framework, fix_test, new-automation
